<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    As you add to this URDF, please be aware that both the robot and
    simulation include it. You must retain compatibility with all of
    the following launch files:

    jackal_viz/launch/view_model.launch
    jackal_gazebo/launch/jackal_world.launch
    jackal_base/launch/base.launch
  -->

  <!-- Macros to generate standoffs for offset payload mounting. -->
  <xacro:include filename="$(find jackal_description)/urdf/accessories/standoffs.urdf.xacro" />

  <!-- This optional plate mounts both the upgraded GPS and the Velodyne 3D LIDAR. -->
  <xacro:include filename="$(find jackal_description)/urdf/accessories/sick_lms1xx_mount.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" />


  <!--
    Add primary/secondary 2D lidar sensors.  By default these are SICK LMS1xx but can be changed with the
    JACKAL_LASER_MODEL and JACKAL_LASER_SECONDARY_MODEL environment variables. Valid model designations are:
    - lms1xx (default) :: SICK LMS1xx
  -->
  <xacro:if value="$(optenv JACKAL_LASER 0)">
    <xacro:property name="lidar_model" value="$(optenv JACKAL_LASER_MODEL lms1xx)" />
    <xacro:if value="${lidar_model == 'lms1xx'}">
      <xacro:include filename="$(find jackal_description)/urdf/accessories/sick_lms1xx_mount.urdf.xacro" />
      <xacro:sick_lms1xx_mount prefix="$(optenv JACKAL_LASER_MOUNT front)"
           parent_link="$(optenv JACKAL_LASER_MOUNT front)_mount"
           topic="$(optenv JACKAL_LASER_TOPIC /scan)">
        <origin xyz="$(optenv JACKAL_LASER_OFFSET 0.04 0 0)"
                   rpy="$(optenv JACKAL_LASER_RPY 0 0 0)" />
      </xacro:sick_lms1xx_mount>
    </xacro:if>
  </xacro:if>

  <!-- If enabled, generate the upgraded Navsat payload (a Novatel Smart6). -->
  <xacro:if value="$(optenv JACKAL_NAVSAT 0)">
    <xacro:include filename="$(find jackal_description)/urdf/accessories/novatel_smart6.urdf.xacro" />
    <xacro:bridge_plate mount="$(optenv JACKAL_NAVSAT_MOUNT rear)"
                  height="$(optenv JACKAL_NAVSAT_HEIGHT 0.1)" />
    <xacro:novatel_smart6 prefix="$(optenv JACKAL_NAVSAT_MOUNT rear)"/>

    <joint name="$(optenv JACKAL_NAVSAT_MOUNT rear)_navsat_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="$(optenv JACKAL_NAVSAT_MOUNT rear)_bridge" />
      <child link="$(optenv JACKAL_NAVSAT_MOUNT rear)_navsat" />
    </joint>
  </xacro:if>

  <xacro:if value="$(optenv JACKAL_FRONT_ACCESSORY_FENDER 0)">
    <xacro:include filename="$(find jackal_description)/urdf/accessories/hokuyo_ust10.urdf.xacro" />
    <xacro:if value="$(optenv JACKAL_FRONT_FENDER_UST10 0)">
      <xacro:hokuyo_ust10_mount
        prefix="front"
        parent_link="front_fender_accessory_link"
        topic="$(optenv JACKAL_FRONT_LASER_TOPIC front/scan)">
        <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:hokuyo_ust10_mount>
    </xacro:if>
  </xacro:if>

  <xacro:if value="$(optenv JACKAL_REAR_ACCESSORY_FENDER 0)">
    <xacro:if value="$(optenv JACKAL_REAR_FENDER_UST10 0)">
      <xacro:hokuyo_ust10_mount
        prefix="rear"
        parent_link="rear_fender_accessory_link"
        topic="$(optenv JACKAL_REAR_LASER_TOPIC rear/scan)">
        <origin xyz="0 0 0" rpy="0 0 0" />
      </xacro:hokuyo_ust10_mount>
    </xacro:if>
  </xacro:if>

  <xacro:if value="$(optenv JACKAL_ARK_ENCLOSURE 0)">
    <link name="ark_enclosure_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://jackal_description/meshes/ark_enclosure.stl"/>
        </geometry>
        <material name="dark_grey" />
      </visual>
    </link>
    <joint name="ark_enclosure_joint" type="fixed">
      <parent link="mid_mount" />
      <child link="ark_enclosure_link" />
    </joint>
    <gazebo reference="ark_enclosure_link">
      <material>Gazebo/DarkGrey</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>
  </xacro:if>

</robot>
